@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root{
    --cor-de-fundo:#20E4D9;
    --cor-de-texto:#2DFFB3;
    --cor-amarelo:#C6F01B;
    --cor-azul:#28B6F3;
    --cor-azul-escuro:#3A375E;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: 'Chakra Petch', sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 38px;
    color: var(--cor-de-texto);
}

.titulo-principal span{
    color: var(--cor-azul);
}
.botao{
    font-family: 'Chakra Petch, sans serif';
    background-color: var(--cor-azul-escuro);
    color: var(--cor-de-texto);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    aling-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid1 var(--botao-ativo)

}
